.post_detail {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_detail img {
    width:389px;
    height:300px;
}

.post_image{
    object-fit: cover;
}

.post_detail h2{
    margin-bottom: .4em;
}

.post_detail .tags {
    margin-bottom: 1.2em;
    display:flex;
}

.tags p{
    margin-right: .5em;
}

.tags span {
    font-weight: bold;
}

.createby {
    font-style: italic;
    color: #444;
    font-size: 0.8em;
    margin-bottom: 1em;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */ 
@media screen and (min-width: 765px){
    .post_detail img {
        width:765px;
        height:765px;
    }
  }